---
layout: default
title:
titleBefore:
meta:
author:
image:
keywords:
sectionClass:
priority: 1.0
---

{% include about.html %}

<div class="hr-container island-2">
  <div class="island-1-2">
    <hr class="pad-b-1-4">
  </div>
</div>

{% include resume.html %}

<div class="hr-container island-2">
  <div class="island-1-2">
    <hr class="pad-b-1-4">
  </div>
</div>

{% include projects.html %}

<div class="hr-container island-2">
  <div class="island-1-2">
    <hr class="pad-b-1-4">
  </div>
</div>

{% include contact.html %}
