---
layout: default
title: ""
titleBefore:
meta: "Portfolio website of Dimitrios Chantzis. Dimitrios is an Informatics Engineer, Web Developer and Illustrator."
author: Dimitrios Chantzis (Δημήτριος Χαντζής)
image: "/img/logo-black.png"
keywords: ""
sectionClass: ""
priority: 1.0
---

{% include about.html %}

<div class="hr-container island-2">
  <div class="island-1-2">
    <hr class="pad-b-1-4">
  </div>
</div>

{% include resume.html %}

<div class="hr-container island-2">
  <div class="island-1-2">
    <hr class="pad-b-1-4">
  </div>
</div>

{% include projects.html %}

<div class="hr-container island-2">
  <div class="island-1-2">
    <hr class="pad-b-1-4">
  </div>
</div>

{% include contact.html %}
