{% assign items = site.posts | reverse %}

{% assign prev = false %}
{% assign next = false %}

{% for time in items %}
  {% if page.url == items.url %}
    {% assign prev = forloop.index0 | minus: 1 %}
    {% assign next = forloop.index0 | plus: 1 %}
    {% if forloop.first %}
      {% assign prev = false %}
    {% endif %}
    {% if forloop.last %}
      {% assign next = false %}
    {% endif %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="pagination pagination-full">
  <ul class="list-group--inline milli push-0">
    <li class="list-group__item">
      {% if prev %}
        <a class="brand-color-light" href="{{site.baseurl}}{{items[prev].url}}" title="Previous"><em class="micro">&lt;</em>prev</a>
      {% else %}
        <span class="brand-color-light"><em class="micro">&lt;</em>prev</span>
      {% endif %}
    </li>
    {% for item in items %}
      <li class="list-group__item">
        <a class="brand-color-light" href="{{site.baseurl}}{{item.url}}" title="{{ item.title | slug | capitalize }}">{{ forloop.index }}</a>
      </li>
    {% endfor %}
    <li class="list-group__item">
      {% if next %}
        <a class="brand-color-light" href="{{site.baseurl}}{{items[next].url}}" title="Next"><em class="micro">next</em>&gt;</a>
      {% else %}
        <span class="brand-color-light">next<em class="micro">&gt;</em></span>
      {% endif %}
    </li>
  </ul>
</div>
