html,
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  position: relative;
}

body {
  color: rgba(68, 68, 68, 1);
}

.brand {
  font-family: 'Volkhov', sans-serif;
  color: rgba(68, 68, 68, 1);
}

.brand-o {
  font-family: 'Orbitron', sans-serif;
  color: rgba(68, 68, 68, 1);
}

.brand-color-light {
  color: rgba(117, 115, 115, 1);
}

.brand-highlight {
  letter-spacing: 2px;
  font-weight: bold;
}

.brand-color {
  color: rgba(95, 163, 77, 1);
}

header {
  padding-top: 6.8rem;
}

header,
main {
  margin: 0 auto;
}

.logo-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.logo-border {
  border: 2.4rem solid rgba(255,255,255,1);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo {
  width: 13rem;
  height: 13rem;
  margin-left: auto;
  margin-right: auto;
  background: transparent url("../img/avatar.png") no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}

hr {
  margin: 0 auto;
  border: 0;
  width: 5rem;
  border-bottom: 3px dotted rgba(95, 163, 77, 1);
}

.about,
.professional-profile,
.education,
.professional-experience,
.languages,
.interests,
.skills,
.work,
.location,
.sitemap,
.news,
.post,
.error404,
.simple {
  text-align: left;
}

.technologies span {
  text-decoration: underline;
  display: inline-block;
}

.technologies ul {
  display: inline-block;
}

.work .unit {
  padding: 0;
}

.skills .unit {
  padding: 0.3250rem 0;
}

.form-submitting {
  opacity: 0.7;
}

fieldset {
  padding: 0;
  border: 0;
}

fieldset input,
fieldset textarea {
  display: block;
  width: 100%;
}

fieldset .form-first-name-container {
  padding-right: 0.1700rem;
}

fieldset .form-last-name-container {
  padding-left: 0.1700rem;
}

fieldset .field-error::first-letter {
  text-transform: capitalize;
}

fieldset.form-error {
  color: rgba(204, 59, 59, 1);
}

fieldset.form-error input,
fieldset.form-error textarea {
  border: 1px solid rgba(204, 59, 59, 1);
}

.form-contact-notification {
  background-color: #D1D1D1;
}

fieldset .field-error,
.form-contact-notification.form-error {
  background-color: rgba(204, 59, 59, 1);
  color: #fff;
  width: auto;
  min-width: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.contact-info dt {
  clear: left;
  float: left;
  margin-right: 0.5rem;
}

.contact-info dd {
  float: left;
  margin: 0;
  padding: 0;
}

.page-content p,
.p-container p {
  margin: 0;
  padding-bottom: 0.3500rem;
}

.page-content img,
.p-container img,
.post .graphic img {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-top: 0.700rem;
  padding-bottom: 0.700rem;
}

.page-content ul > li::before,
.page-content ol > li::before,
.p-container ul > li::before,
.p-container ol > li::before  {
  content: none;
}

.page-content hr,
.p-container hr {
  margin-top: 2.6000rem;
  margin-bottom: 2.6000rem;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  width: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.page-content em,
.p-container em {
  color: rgba(117, 115, 115, 1);
}

.page-tidbits {
  color: rgba(117, 115, 115, 1);
}

.social-btn {
  padding-left: 0.1875rem;
  padding-right: 0.1875rem;
}

.pagination {
  width: 100%;
  text-align: center;
}

.pagination ul li em {
  font-style: normal;
}

.pagination ul li a.brand-color-light,
.pagination ul li a.brand-color-light:link,
.pagination ul li a.brand-color-light:active{
  color: rgba(117, 115, 115, 1);
  text-decoration: none;
}

.pagination-slim li:first-child::after {
  content: "/";
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

@media only screen and (min-width: 25em) {

  header,
  main {
    width: 27rem;
  }
}

@media only screen and (min-width: 38em) {

  header,
  main {
    width: 34rem;
  }

  .logo-wrapper,
  .logo-border,
  .logo-outline,
  .logo-outline-text,
  .logo-heart {
    width: 15rem;
    height: 15rem;
  }

  .logo-border {
    border: 2.9rem solid rgba(255,255,255,1);
  }

  main h1,
  main h2,
  main h3,
  main h4 {
    text-align: center;
  }

  .about,
  .professional-profile,
  .education,
  .professional-experience,
  .languages,
  .skills,
  .interests,
  .work,
  .location,
  .sitemap,
  .news,
  .post,
  .error404,
  .simple {
    text-align: center;
  }

  .work .unit {
    padding-left: 0.3500rem;
    padding-right: 0.3500rem;
  }
  .skills .unit {
    padding: 0.3500rem;
  }

}

@media only screen and (min-width: 60em) {

  header,
  main {
    margin: 0 auto;
    width: 40rem;
  }

  .work .unit {
    padding-left: 0.3750rem;
    padding-right: 0.3750rem;
  }
  .skills {
    text-align: left;
  }
  .skills .unit {
    padding: 0.3750rem;
  }

}

@media only screen and (min-width: 90em) {
}
