---
layout: default
---

<section class="{{page.sectionClass}} gutter-1-2" id="{{page.sectionClass}}">

  <article itemscope itemtype="http://schema.org/BlogPosting">

    {% include post-meta-tags.html %}

    <h1 class="page-title brand-highlight push-0 zetta">{{ page.title | capitalize}}</h1>
    <p class="page-tidbits milli push-0">
      <time itemprop="datePublished" datetime="{{page.date | date: '%Y-%m-%d' }}"><em>{{ page.date | date: "%B %d, %Y" }}</em></time>
        {% if page.tags.size >= 1 %}
          / Tags:
          {% for item in page.tags %}
            {% capture post-tag-slug %}/tag/{{ item | slugify }}/{% endcapture %}
            {% assign tag-info = site.tags | where:"url",post-tag-slug %}
            {% assign tag-info = tag-info | first %}
            <a href="{{site.baseurl}}{{tag-info.url}}">{{tag-info.title}}</a>
            {% if forloop.last == false %}, {% endif %}
          {% endfor %}
        {% endif %}
    </p>
    {% assign post = page %}
    {% include posts-time-to-read.html %}

    <div class="page-content push-0 milli p-container pad-t">

      {% if page.subtitle %}
        <h2 class="page-title brand-highlight push exa">{{ page.subtitle }}</h2>
      {% endif %}

      {% if page.summary %}
        <p class="push-0 milli">{{ page.summary }}</p>
      {% endif %}

      {{ content | markdownify }}

      {% if page.images.size >= 1 %}
        {% for image in page.images %}
          {% include image.html %}
        {% endfor %}
      {% endif %}

      <div class="social-share-buttons">
        {% include social-share-buttons.html %}
      </div>

    </div>

    {% include related-posts.html %}

    {% if true == site.disqus.comments and true == page.comments %}
      <div class="pad-t-1-2 pad-b-1-2">
        {% include disqus-comments.html %}
      </div>
    {% endif %}

  </article>
</section>
